{% extends "home/common/header.html" %}
{% load static %}
{% block body %}

    {% include "home/common/navbar.html" %}

    <div>
        Hello World!
    </div>

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Info</button>
    <button type="button" class="btn btn-warning">Alert</button>
    <button type="button" class="btn btn-danger">Danger</button>

    <br>
    <div class="container-xxl">

        {% for item in all_plants %}
            a
            {% include "home/common/card.html" with item=item %}

        {% endfor %}

    </div>




{% endblock %}
